.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: #01d1d1;
  padding: 0 1rem;

  display: flex;
  align-items: center;
}

.main-nav__logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-nav__items {
  margin-left: 1.5rem;
}

.main-nav__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__items li {
  margin: 0 1rem;
}
.main-nav__items a {
  text-decoration: none;
  color: #000;
}
.main-nav__items a:hover,
.main-nav__items a:active,
.main-nav__items a.active {
  color: rgb(0, 4, 255);
}
